:root {
  /* Colors */
  --clr-lime: hsl(61, 70%, 52%);
  --clr-light-yellow: hsl(60, 68%, 93%);
  --clr-red: hsl(4, 69%, 50%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-slate-100: hsl(202, 86%, 94%);
  --clr-slate-300: hsl(203, 41%, 72%);
  --clr-slate-500: hsl(200, 26%, 54%);
  --clr-slate-700: hsl(200, 24%, 40%);
  --clr-slate-900: hsl(202, 55%, 16%);

  /* Typography */
  --ff-primary: "Plus Jakarta Sans", serif;

  --fs-18-24: clamp(1.125rem, 0.9946rem + 0.6522vw, 1.5rem);
  
  --fw-regular: 500;
  --fw-bold: 700;

  /* Spacing */
  /* https://utopia.fyi/clamp/calculator?a=320,1240 */
  --pd-16-48: clamp(1rem, 0.3043rem + 3.4783vw, 3rem);
  --pd-18-38: clamp(1.125rem, 0.6902rem + 2.1739vw, 2.375rem);
}

/* Variable font */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/src/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
  font-weight: 200 800;
  font-style: normal;
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  line-height: 1.5;
}

img,
picture,
svg {
  display: block;
  max-inline-size: 100%;
}

/* General styling */
body {
  font-family: var(--ff-primary);
  font-size: 1rem;
  font-weight: var(--fw-regular);
  color: var(--clr-slate-500);
  background-color: var(--clr-slate-300);
  min-height: 100vh;
  place-content: center;
}

h1, h2 {
  font-size: var(--fs-18-24);
  font-weight: var(--fw-bold);
  line-height: 1.125;
}

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  line-height: 1.125;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

button:focus-visible {
  outline: 2px solid var(--clr-slate-700);
}

/* Main content */
.wrapper {
  max-width: 32rem;
  margin-inline: auto;
  background-color: var(--clr-white);
  border-radius: 0;
  display: grid;
}

@media (width >= 60em) {
  .wrapper {
    max-width: 63rem;
    grid-template-columns: 1fr 1fr;
    border-radius: 1rem;
  }

  main {
    padding: 2rem;
  }
}

form {
  padding: var(--pd-18-38);
  display: grid;
  gap: 1.25rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  flex-wrap: wrap;
  margin-block-end: .5rem;
}

header h1 {
  color: var(--clr-slate-900);
}

header button {
  color: var(--clr-slate-500);
  text-decoration: underline solid var(--clr-slate-300) 1px;
}

header button:hover {
  color: var(--clr-slate-700);
}

/* Hide number spin controls for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

/* Hide number spin controls for Firefox */
input[type="number"] {
  appearance: textfield;
}

.amount-input,
.term-input,
.interest-input {
  border: 0;
  outline: 1px solid var(--clr-slate-500);
  border-radius: .25rem;
  height: 3.125rem;
  width: 100%;
  font-weight: var(--fw-bold);
  cursor: pointer;
}

.amount-input {
  padding-inline-start: 3.125rem;
}

.amount-decor {
  --bg-decor: var(--clr-slate-100);
  --text-color: var(--clr-slate-700);
  display: block;
  position: relative;
}

.amount-decor::before {
  content: '\00a3';
  position: absolute;
  top: -3.125rem;
  left: 0;
  background-color: var(--bg-decor);
  padding: .8125rem 1rem;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  font-weight: var(--fw-bold);
  color: var(--text-color);
}

.flex-group {
  display: flex;
  gap: 1.25rem;
}

.flex-group > * {
  flex: 1;
}

@media (width < 48em) {
  .flex-group {
    flex-direction: column;
  }
}

.amount-container,
.term-container,
.interest-container {
  margin-block-start: .5rem;
}

.term-input,
.interest-input {
  padding-inline-start: .5rem;
}

.term-decor {
  --bg-decor: var(--clr-slate-100);
  --text-color: var(--clr-slate-700);
  position: relative;
  display: block;
}

.term-decor::before {
  content: "year";
  position: absolute;
  top: -3.125rem;
  right: 0;
  background-color: var(--bg-decor);
  padding: .8125rem 1rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: var(--fw-bold);
  color: var(--text-color);
}

.interest-decor {
  --bg-decor: var(--clr-slate-100);
  --text-color: var(--clr-slate-700);
  position: relative;
  display: block;
}

.interest-decor::before {
  content: "\0025";
  position: absolute;
  top: -3.125rem;
  right: 0;
  background-color: var(--bg-decor);
  padding: .8125rem 1rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: var(--fw-bold);
  color: var(--text-color);
} 

input[type="number"]:hover {
  outline: 1px solid var(--clr-slate-900);
}

input[type="number"]:focus-visible {
  outline: 1px solid var(--clr-lime);
}

input[type="number"]:focus-visible + .amount-decor::before,
input[type="number"]:focus-visible + .term-decor::before,
input[type="number"]:focus-visible + .interest-decor::before {
  background-color: var(--clr-lime);
  color: var(--clr-slate-900);
}

fieldset {
  border: 0;
}

.repayment-control label,
.interest-control label {
  display: block;
  padding-block: .8125rem;
  cursor: pointer;
  border: 1px solid var(--clr-slate-500);
  border-radius: 4px;
  padding-inline: 1.125rem;
}

legend {
  margin-block-end: .5rem;
}

.repayment-control {
  margin-block-end: .75rem;
}

:is(.repayment-control, .interest-control) label:hover {
  border: 1px solid var(--clr-lime);
}



input[type="radio"] {
  appearance: none;
  width: .75rem;
  aspect-ratio: 1;
  outline: 2px solid var(--clr-slate-300);
  border-radius: 50%;
  cursor: pointer;
}

input[type="radio"] + span {
  color: var(--clr-slate-900);
  font-weight: var(--fw-bold);
  margin-inline-start: 1rem;
}

input[type="radio"]:checked {
  outline-color: var(--clr-lime);
  outline-offset: 2px;
  background-color: var(--clr-lime);
}

.repayment-control label:has(input[type="radio"]:checked),
.interest-control label:has(input[type="radio"]:checked) {
  background-color: var(--clr-light-yellow);
  border: 1px solid var(--clr-lime);
}

.repayment-btn {
  max-width: 19.75rem;
  height: 3.5rem;
  background-color: var(--clr-lime);
  border-radius: 100vmax;
  padding: .75rem;
}

@media (width < 60em) {
  .repayment-btn {
    max-width: 100%;
  }
}

.repayment-btn:hover {
  background-color: hsl(62, 72%, 76%);
}

section {
  background-color: var(--clr-slate-900);
  border-bottom-left-radius: 5vmax;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: var(--pd-18-38);
}

.illustration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media(width < 60em) {
  section {
    border-radius: 0;
  }
}

.illustration h2 {
  color: var(--clr-white);
  margin-block: 1.375rem;
}

.illustration p {
  text-align: center;
}

.hidden {
  display: none;
}

.error-input {
  outline: 2px solid var(--clr-red);
}

.error-decor {
  --bg-decor: var(--clr-red);
  --text-color: var(--clr-white);
}

.error-message {
  display: none;
  color: var(--clr-red);
  margin-block-start: 10px;
}